<strong>Ola , {{ student }} </strong>
<p>Bem vindo ao time Gympoint , abaixo estao as informacoes do plano no qual voce se matriculou</p>

<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Valor: </strong> {{ totalPrice }} $BRL<br />
  <strong>Este plano estara ativo ate: </strong> {{ end_date }} <br />
</p>
